<div class="container p-4">
  <div class="login-form center-block">
    <form action="/create_channel" method="POST" class=" p-4">
      <h2 class="text-center">Crear Channel
        <a href="/" class="text-danger float-right">X</a>
      </h2>
      <div class="form-group">
        <input type="text" name="channel" class="form-control" placeholder="Channel" required="required">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-dark btn-block">Crear</button>
      </div>
      <div class="form-group">
        {{#if error}}
        <p> {{error}} </p>
        {{/if}}
      </div>
    </form>
    <table class="table table-dark float-left ">

      <thead>
        <tr>
          <th colspan="2" scope="rowgroup" class="text-center">Channels</th>
          <th colspan="2" scope="rowgroup" class="text-center">
            <a href="/adminLogin" class="text-warning">ACTUALIZAR FORMULARIO</a>
          </th>

        </tr>
        <tr class="text-center table-dark text-dark">
          <th scope="col">ID</th>
          <th scope="col">Channel</th>
          <th colspan="2" scope="col">Acciones</th>
        </tr>

      </thead>
      <tbody>
        {{#if channels}}
        {{#each channels}}
        {{#each this}}
        {{#if sid}}
        <tr class="text-center table-light text-dark">
          <th scope="row">{{sid}}</th>
          <td>{{friendly_name}}</td>
          <td>
            <a href="/edit_channel/{{sid}}/{{friendly_name}}" class="btn btn-dark btn-block">Editar</a>

          </td>
          <td>
            <a href="/delete_channel/{{sid}}" class="btn btn-danger btn-block">Eliminar</a>
          </td>
        </tr>
        {{/if}}
        {{/each}}
        {{/each}}
        {{/if }}


      </tbody>
    </table>
  </div>
</div>