<div class="container-fluid">
    <table class="table">
        <thead>
            <tr class="row">
                <th class="col-sm-3">
                    <div class="login-form">
                        <form action="/create_message" method="POST" class="p-3">
                            <h2 class="text-center">{{channel}}
                                <a href="/channels" class="text-danger float-right">X</a>
                            </h2>
                            <div class="form-group">
                                User: <h3>{{identity}}</h3>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="idchannel" class="form-control" value="{{idchannel}}"
                                    placeholder="Username" required="required">
                            </div>

                            <div class="form-group">
                                <input type="hidden" name="channel" class="form-control" value="{{channel}}"
                                    placeholder="Username" required="required">
                            </div>

                            <div class="form-group">
                                <input type="hidden" name="identity" class="form-control" value="{{identity}}"
                                    placeholder="Username" required="required">
                            </div>
                            <div class="form-group">
                                <label for="message">Mensaje</label>
                                <textarea class="form-control" id="message" name="message" rows="3"
                                    required="required"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-dark btn-block">Enviar</button>
                            </div>
                            <div class="form-group">
                                {{#if error}}
                                <p> {{error}} </p>
                                {{/if}}
                            </div>

                        </form>

                    </div>
                </th>
                <th class="col-sm-7">
                    <div class="">
                        <div class="card card-body">
                            <p class="card-text">Total Mensajes: <em>{{sms.length}}</em>
                                <a href="/update_Messages/{{idchannel}}/{{channel}}/{{identity}}" class="text-danger float-right">Actualizar mensanjes</a>
                            </p>

                        </div>
                        {{#if sms}}
                        <ul class="list-group" style="height: 70vh; overflow-y: auto;" id="messages">
                            {{#each sms}}
                            {{#each this}}
                            {{#if body}}
                            <li class="list-group-item list-group-item-info list-group-item-action">
                                <p>{{body}}</p>
                                Creado:
                                <span>{{from}}</span>
                                <br>
                                Fecha:
                                <span>{{date_created}}</span>
                            </li>
                            {{/if}}
                            {{/each}}
                            {{/each}}
                        </ul>
                        {{else}}
                        <p class="bg-warning p-3">No hay mensajes</p>
                        {{/if}}
                    </div>
                </th>
                <th class="col-sm-2">
                    <div class="container-fluid bg-light text-center p-1">
                        <h1>Miembros</h1>
                        <a href="/update_Messages/{{idchannel}}/{{channel}}/{{identity}}" class=" text-danger">Actualizar
                            miembros</a>
                    </div>

                    {{#if users}}
                    <ul class="list-group " style="height: 70vh; overflow-y: auto;" id="messages">

                        {{#each users }}
                        {{#each this}}
                        {{#if identity}}
                        <li class="list-group-item list-group-item-success list-group-item-action">
                            <span>{{identity}}</span>
                        </li>
                        {{/if}}
                        {{/each}}
                        {{/each}}
                    </ul>
                    {{else}}
                    <p class="bg-warning p-3">No hay miembros</p>
                    {{/if}}
                </th>
            </tr>
        </thead>
    </table>
</div>