<div class="container p-4">
    <div class="login-form center-block">
    <form action="/messages" method="POST" class="col-4 p-3">
        <h2 class="text-center">Create User
            <a href="/update_channels" class="text-danger float-right">X</a>
        </h2>
        <div class="form-group">
            <input type="hidden" name="idchannel" class="form-control" value="{{idchannel}}" required="required">
        </div>
        <div class="form-group">
            <input type="hidden" name="channel" class="form-control" value="{{channel}}" required="required">
        </div>
        <div class="form-group">
            <input type="text" name="identity" class="form-control" placeholder="User" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-dark btn-block">Crear Usuario</button>
        </div>



</div>
<div class="form-group">
    {{#if error}}
    <p> {{error}} </p>
    {{/if}}
</div>

</form>



</div>
</div>