<div class="container p4">
    <div class="login-form center-block">
    <form action="/edit_channel" method="POST" class="col-4 p-3">
        <h2 class="text-center">Editar Channel
            <a href="/adminLogin" class="text-danger float-right">X</a>
        </h2>
        <div class="form-group">
            <input type="hidden" name="sid" class="form-control" value="{{sid}}" required="required">
        </div>
        <div class="form-group">
            <input type="text" name="channel" class="form-control" value="{{friendly_name}}" placeholder="Channel"
                required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-dark btn-block">Actualizar</button>
        </div>



</div>
<div class="form-group">
    {{#if error}}
    <p> {{error}} </p>
    {{/if}}
</div>

</form>



</div>
</div>