<div class="container p-4">
  <div class="login-form center-block">
    <form action="/send_login" method="POST" class="col-4 p-3">
      <h2 class="text-center">Log in</h2>
      <div class="form-group">
        <input type="text" name="user" class="form-control" placeholder="Username" required="required">
      </div>
      <div class="form-group">
        <input type="password" name="pass" class="form-control" placeholder="Password" required="required">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-dark btn-block">Inicio Sección</button>
      </div>



  </div>
  <div class="form-group">
    {{#if error}}
    <p> {{error}} </p>
    {{/if}}
  </div>

  </form>
  <div class="form-group col-4 p-3">
    <a href="/channels" class="btn btn-info btn-block">No User</a>
  </div>
  <div class="form-group">


  </div>
</div>