<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SMS Node</title>
  {{!-- Bootswatch Lux Theme --}}
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  {{!-- TEXT SECURITY --}}
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/noppa/text-security/master/dist/text-security.css">

  {{!-- CUSTOM CSS --}}
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>

  {{>navigation}}

  <div class="container-fluid">
    {{{body}}}
  </div>
    {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
</body>

</html>